//

.container {
  display: flex;
  align-items: self-start;
  height: 100vh;
  max-width: 100vw;
  overflow: hidden;
  overflow-x: hidden;
}

.meImg {
  object-fit: cover;
  object-position: top center;
  min-width: 20vw;
  height: 100%;
  z-index: 2;
}

.textContainer {
  position: absolute;
  padding-top: 7%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: left;
  align-items: flex-end;
  bottom: 75px;
  z-index: 20;
}

.textMe {
  font-size: 80px;
  font-weight: 100;
  color: rgba(44, 14, 44, 0.744);
  margin-right: 50px;
  transition: all 0.1s;
}

.textMe:nth-child(2) {
  font-family: 'Reenie Beanie', cursive;
  transform: scale(1.5) translateX(-70px);
}

.textMe:nth-child(2) {
  font-size: 100px;
  font-weight: 300;
}

.textMe:last-child {
  font-size: 100px;
  font-weight: 300;
  padding-right: 100px;
}

.textMe:hover {
  color: rgb(235, 142, 244);
}

.aboutMeContainer {
  position: relative;
  padding-left: 10%;
  padding-right: 10%;
  font-size: 30px;
  font-weight: 200;
  padding-bottom: 10%;
  padding-top: 10%;
}

@media only screen and (max-width: 1024px) {
  .textContainer {
    bottom: 75px;
  }

  .textMe {
    font-size: 50px;
  }

  .textMe:nth-child(2) {
    font-size: 70px;
    font-weight: 300;
  }

  .textMe:last-child {
    font-size: 70px;
    font-weight: 300;
    padding-right: 100px;
  }

  .aboutMeContainer {
    font-size: 20px;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    position: relative;
  }
  .textContainer {
    bottom: 0;
    top: 160px;
    left: 80px;
    transform: rotate(90deg);
    align-items: flex-start;
    flex-direction: row;
    gap: 0;
  }

  .textMe {
    display: none;
  }

  .textMe:nth-child(2) {
    font-size: 70px;
    font-weight: 300;
    display: flex;
    padding-right: 0;
  }

  .textMe:nth-child(2) {
    // font-family: 'Reenie Beanie', cursive;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
      'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
      'Helvetica Neue', sans-serif;
    transform: scale(1) translateX(-0px);
  }

  .textMe:last-child {
    font-size: 70px;
    font-weight: 300;
    display: flex;
    padding-right: 0;
  }
  .aboutMeContainer {
    font-size: 20px;
  }
}

@media only screen and (max-width: 425px) {
  .container {
    position: relative;
  }
  .textContainer {
    bottom: 0;
    top: auto;
    bottom: 80px;
    left: 30px;
    transform: rotate(0);
    flex-direction: column;
    gap: 0;
  }

  .textMe {
    display: none;
  }

  .textMe:nth-child(2) {
    font-size: 70px;
    font-weight: 300;
    display: flex;
    padding-right: 0;
    color: white;
  }

  .textMe:last-child {
    font-size: 70px;
    font-weight: 300;
    display: flex;
    padding-right: 0;
    position: absolute;
    right: 15px;
    bottom: 5px;
    color: white;
  }
  .aboutMeContainer {
    font-size: 20px;
  }
}
