.uploadContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

p {
  cursor: pointer;
}

.inputFile {
  display: none;
}

.uploadContainer label {
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: white;
  margin-bottom: 30px;
  font-size: 100px;
  background: linear-gradient(45deg, blue, red);
  cursor: pointer;
  border-radius: 20px;
}

.uploadPhotoBtn {
  padding: 20px 25px;
  background: rgb(12, 70, 179);
  color: white;
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: 700;
  border-radius: 10px;
}

.imageContainer {
  position: relative;
  background-color: white;
}

.deleteButton {
  width: 20px;
  height: 20px;
  font-size: 15px;
  font-weight: 700;
  padding: 5px;
  background: red;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  position: absolute;
  top: 0;
}

.uploadPhotoBtn:hover {
  background: linear-gradient(20deg, rgba(0, 0, 255, 1), rgba(255, 0, 0, 1));
}

.chooseFolder {
  font-weight: 200;
}

.uploadContainer select {
  border: none;
  font-size: 18px;
  margin-bottom: 30px;
  width: 120px;
  margin-top: 10px;
}

.bar {
  height: 20px;
  width: 500px;
  background-color: #80808073;
  border-radius: 20px;
  margin-bottom: 10px;
}

.progress {
  background: linear-gradient(
    20deg,
    rgba(0, 0, 255, 0.7),
    rgba(255, 0, 0, 0.7)
  );
  border-radius: 20px;
  height: 100%;
  width: 50%;
}

.uploadPercentage {
  font-size: 20px;
  font-weight: 200;
}

.imageSmall {
  height: 200px;
  object-fit: cover;
  background-color: #fff;
}

@media only screen and (max-width: 425px) {
  .bar {
    height: 20px;
    width: 300px;
  }
}

// ENTER ADMIN PAGE

.eContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.eForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  padding: 20px 50px;
  border: 2px solid rgba(44, 14, 44, 0.744);
  border-radius: 10px;
  background-color: rgba(151, 109, 151, 0.29);
}

.eForm input {
  outline: none;
  color: rgba(44, 14, 44, 0.744);
  padding: 5px 10px;
  border: 2px solid rgba(44, 14, 44, 0.744);
  border-radius: 5px;
  width: 100%;
}

.eForm button {
  width: 50%;
  padding: 5px 10px;
  border: 2px solid rgba(44, 14, 44, 0.744);
  border-radius: 5px;
  background-color: rgba(44, 14, 44, 0.556);
  text-align: center;
  color: white;
  font-weight: 400;
  cursor: pointer;
}

.eForm button:hover {
  background-color: rgb(235, 142, 244);
}

.eForm h1 {
  font-weight: 200;
}

.logoutButton {
  position: fixed;
  top: 25px;
  left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  border-radius: 50px;
  opacity: 0.8;
  border: 2px solid rgba(44, 14, 44, 0.744);
  background-color: rgba(255, 255, 255, 0.25);
  transition: all 0.1s;
  font-size: 20px;
  color: rgba(44, 14, 44, 0.744);
  padding: 10px;
  cursor: pointer;
}

.logoutButton:hover {
  opacity: 1;
  border-color: rgb(235, 142, 244);
  color: rgb(235, 142, 244);
}
