.footer {
  height: 100px;
  background-color: rgba(44, 14, 44, 0.744);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.footer p {
  color: white;
}
